---
import AboutMe from "../../astro-components/UI/AboutMe.astro";
import Avatar from "../../astro-components/UI/Avatar.astro";

interface Props {
  title: string;
  text: string;
}

const { title, text }: Props = Astro.props;
---

<section id="aboutMe">
  <div class="left-[50%] translate-x-[-50%] my-4 absolute -top-16">
    <Avatar />
  </div>
  <AboutMe title={title} text={text} />
</section>
