---
import Layout from "../layouts/Layout.astro";
import { db, eq, Tutors, Patients, Appointments } from "astro:db";

const appointments = await db
  .select()
  .from(Appointments)
  .innerJoin(Patients, eq(Appointments.patient_id, Patients.id))
  .innerJoin(Tutors, eq(Patients.tutor_id, Tutors.id));

//const Appointments = await db.select().from(Appointments);

console.log(appointments);
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Turnos</h1>
    <table>
      <thead>
        <tr>
          <td>Nombre del paciente</td>
          <td>Nombre del tutor</td>
          <td>Fecha el turno</td>
        </tr>
      </thead>
      <tbody>
        {
          appointments.map((appointment) => (
            <tr>
              <td>{appointment.Patients.first_name}</td>
              <td>{appointment.Tutors.first_name}</td>
              <td>{appointment.Appointments.appointment_date}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </main>
</Layout>

<style></style>
