---
import Layout from "../layouts/Layout.astro";

import Cally from "../components/Cally.jsx";
---

<Layout title="Solicitud de turno">
  <main>
    <Cally client:only="react" />
  </main>
</Layout>

<style></style>
