---
/* Layout components */
import Layout from "../layouts/Layout.astro";

/* UI components */
import Button from "@/astro-components/UI/Button.astro";
import Typography from "@/astro-components/UI/Typography.astro";
import ProfessionalInfo from "@/sections/home/ProfessionalInfo.astro";
---

<Layout title="Turnos app">
  <ProfessionalInfo />

  <Button
    as="a"
    href="/calendar"
    class="flex justify-center uppercase"
    data-astro-prefetch="viewport"
  >
    <Typography as="span" variant="sm" color="black" class="font-semibold">
      Agendar turno
    </Typography>
  </Button>
</Layout>
