---
/* Layout components */
import Layout from "../layouts/Layout.astro";

/* Section components */
import Profile from "@/sections/Profile.astro";
import Contact from "@/sections/Contact.astro";
import OpenHours from "@/sections/OpenHours.astro";

/* UI components */
import Button from "@/astro-components/UI/Button.astro";
import Typography from "@/astro-components/UI/Typography.astro";

/* DB */
import { db, ProfessionalProfile } from "astro:db";

const professionalData = await db.select().from(ProfessionalProfile);
const { aboutMe, address, email, phone } = professionalData[0];
---

<Layout title="Turnos app">
  <main class="flex flex-col gap-y-4">
    <article
      class="relative flex flex-col gap-y-5 px-4 pt-32 pb-6 mt-14 bg-gray-100 rounded-lg"
    >
      <Profile title="Sobre mí" text={aboutMe} />
      <OpenHours />
      <Contact address={address} email={email} phone={phone} />
    </article>

    <Button as="a" href="/calendar" class="flex justify-center uppercase">
      <Typography as="span" variant="sm" color="black" class="font-semibold">
        Agendar turno
      </Typography>
    </Button>
  </main>
</Layout>
