---
import Profile from "@/astro-components/Profile.astro";
import Layout from "../layouts/Layout.astro";
import { db, ProfessionalProfile } from "astro:db";
import Contact from "@/astro-components/Contact.astro";
import Button from "@/astro-components/UI/Button.astro";
import Typography from "@/astro-components/UI/Typography.astro";

const professionalData = await db.select().from(ProfessionalProfile);
const { aboutMe, address, email, phone } = professionalData[0];
---

<Layout title="Turnos app">
  <main class="flex flex-col gap-y-5">
    <Profile title="Sobre mí" text={aboutMe} />
    <Contact address={address} email={email} phone={phone} />

    <Button as="a" href="/calendar" class="flex justify-center uppercase">
      <Typography as="span" variant="sm" color="black" class="font-semibold">
        Agendar turno
      </Typography>
    </Button>
  </main>
</Layout>
