---
import Cally from "../../components/Cally.tsx";

import { db, ProfessionalProfile, Availability, Appointments } from "astro:db";

async function getData() {
  // Obtener los datos de disponibilidad
  try {
    const [professionalResponse, availabilityResponse, appointmentsResponse] =
      await Promise.all([
        db
          .select({
            id: ProfessionalProfile.id,
            firstName: ProfessionalProfile.firstName,
            lastName: ProfessionalProfile.lastName,
            sessionTime: ProfessionalProfile.sessionTime,
            address: ProfessionalProfile.address,
          })
          .from(ProfessionalProfile),
        db.select().from(Availability),
        db.select().from(Appointments),
      ]);

    return {
      professionalData: professionalResponse[0],
      availability: availabilityResponse,
      appointments: appointmentsResponse,
    };
  } catch (error) {
    console.error("Error fetching data:", error);
    return { professionalData: null, availability: null, appointments: null };
  }
}
const { professionalData, availability, appointments } = await getData();
---

<>
  {
    professionalData && availability && appointments ? (
      <Cally
        client:only="react"
        professionalData={professionalData}
        availability={availability}
        appointments={appointments}
      />
    ) : (
      <p>Hubo un error al leer los datos.</p>
    )
  }
</>
