---
import Layout from "../../layouts/Layout.astro";
import Cally from "../../components/Cally.tsx";

import { db, ProfessionalProfile, Availability, Appointments } from "astro:db";

// Get data from astro db
const professionalData = await db
  .select({
    id: ProfessionalProfile.id,
    sessionTime: ProfessionalProfile.sessionTime,
  })
  .from(ProfessionalProfile);

const appointments = await db.select().from(Appointments);

const availability = await db.select().from(Availability);
---

<Layout title="Elegir fecha y hora">
  {
    professionalData ? (
      <Cally
        client:only="react"
        professionalData={professionalData[0]}
        availability={availability}
        appointments={appointments}
      />
    ) : (
      <p>Hubo un error al leer los datos.</p>
    )
  }
</Layout>
