---
import Location from "../astro-components/icons/Location.astro";
import Email from "../astro-components/icons/Email.astro";
import Phone from "../astro-components/icons/Phone.astro";
import Item from "../astro-components/UI/Item.astro";

interface Props {
  address: string;
  email: string;
  phone: string;
}
const { address, email, phone } = Astro.props;
---

<section class="flex flex-col gap-y-1" id="contact">
  <Item label={address}>
    <Location
      width="15"
      height="15"
      fill="none"
      viewBox="0 0 15 15"
      slot="before-text"
    />
  </Item>
  <Item label={email}>
    <Email
      width="15"
      height="15"
      fill="none"
      viewBox="0 0 15 15"
      slot="before-text"
    />
  </Item>
  <Item label={phone}>
    <Phone
      width="15"
      height="15"
      fill="none"
      viewBox="0 0 15 15"
      slot="before-text"
    />
  </Item>
</section>
