---
import profileImage from "../../../public/profile.png";
import { Image } from "astro:assets";
---

<div>
  <Image
    src={profileImage}
    alt="foto de perfil del profesional"
    width="166"
    height="166"
  />
</div>
