---
import Logo from "../icons/Logo.astro";
import Menu from "./Menu.astro";
---

<header class="flex justify-between py-4 px-3">
  <Menu />
  <span>
    <Logo width="192" height="38" viewBox="0 0 192 38" fill="none" />
  </span>
  <span class="ghost-element"></span>
</header>
